/* helpers */
html {
  font-family: Roboto;
}
body {
  background-color: #e5e5e5;
  margin: 0;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.clean-list {
  list-style: none;
}
/* nav bar */
.main-nav {
  display: none;
}

.main-nav > li:hover {
  cursor: pointer;
}

.main-header {
  width: 100%;
  height: 50px;
}

.logo {
  height: 32px;
  width: 152px;
  margin: 9px 0px 9px 20px;
}
.main-header {
  width: 100%;
  background-color: #fff;
}

/* search bar */
.search-bar-container {
  margin: 20px 10px 10px 21px;
}
.search-bar {
  width: 100%;
  border-radius: 3em;
  font-size: 1rem;
}

.main-canvas {
  height: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.meme-input {
  height: 20px;
}
.user-input {
  display: none;
}

.image-gallery > * {
  width: 100%;
  object-fit: cover;
}

/* nav bar hamburger */
@media (max-width: 600px) {
  body.menu-open .clse-menu {
    display: flex;
    padding: 0;
    padding-top: 17px;
    padding-right: 17px;
    background-color: transparent;
    border: none;
    color: white;
    justify-content: flex-end;
  }

  body.menu-open hr {
    display: block;
    width: 21px;
  }

  body.menu-open .main-nav > li {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 28.13px;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 100%;
  }

  body.menu-open .main-nav > li:nth-child(2) {
    padding-top: 197px;
    padding-bottom: 69px;
  }
  body.menu-open .main-nav > li:nth-child(3) {
    padding-top: 69px;
    padding-bottom: 70px;
  }
  body.menu-open .main-nav {
    margin: 0;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    background-color: #ff9826;
    width: 100%;
    transition: transform 0.9s;
  }
}

.card-txt {
  flex-direction: column;
}

/* resposivness */
@media (min-width: 375px) {
  .image-gallery {
    margin-left: 10px;
    margin-right: 10px;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
}

@media (min-width: 600px) {
  .main-nav {
    display: flex;
  }
  hr {
    display: none;
  }
  .btn-menu {
    display: none;
  }
  .clse-menu {
    display: none;
  }
  .main-nav > li {
    font-weight: 500;
    size: 1rem;
    line-height: 1.171rem;
  }
  ul > *:not(:last-child) {
    margin-inline-end: 50px;
  }
  /* dont know why, but last child didnt work... maybe come bck l8r */
  .last {
    margin-inline-end: 20px;
  }
  .main-nav > li:hover {
    color: orange;
    cursor: pointer;
  }

  .search-bar-container {
    margin: 30px 20px 20px 29px;
  }

  .image-gallery {
    margin-left: 30px;
    margin-right: 25px;
  }
  .gallery-grid {
    display: grid;
    margin-left: 30px;
    margin-right: 25px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
  }
}
