/* helpers */
* {
  box-sizing: border-box;
}
html {
  font-family: Roboto;
}
body {
  background-color: #e5e5e5;
  margin: 0;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.clean-list {
  list-style: none;
}

/* nav bar */
.main-nav {
  display: none;
}

.main-nav > li:hover {
  cursor: pointer;
}

.main-header {
  width: 100%;
  height: 50px;
}

.logo {
  height: 32px;
  width: 152px;
  margin: 9px 0px 9px 20px;
}

.logo:hover {
  cursor: pointer;
}

.main-header {
  width: 100%;
  background-color: #fff;
}

/* search bar */
.search-bar-container {
  margin: 20px 10px 10px 21px;
}

.search-bar {
  height: 2.625rem;
  flex-basis: 50%;
  border-radius: 3em;
  margin-inline-end: 20px;
  font-size: 1rem;
}

.file-input {
  margin-left: auto;
  margin-right: auto;
}

.input-btns > * {
  height: 50px;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: black;
}
.download-link {
  text-decoration: none;
  color: black;
}
.input-btns > *:hover {
  cursor: pointer;
}
.user-input {
  display: none;
}
.user-msg {
  display: none;
}
.input-btns {
  display: flex;
}

.last-box > * {
  background-color: #ff9826;
}

.search-words {
  position: relative;
  color: white;
  background-color: #ff9826;
  user-select: none;
  flex-basis: 50%;
  height: 80px;
  overflow: hidden;
  margin-inline-start: 20px;
}

.search-words.read-more {
  overflow: visible;
  height: 100%;
}

.read-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  right: 5px;
}

/* .user-input>*{
    margin-bottom: 10px;
} */

.search-words > *:hover {
  cursor: pointer;
}

/* main gallery and editor */
.main-canvas {
  display: none;
}

body.meme-now .main-canvas {
  margin-top: 15px;
  flex-basis: 50%;
  display: block;
  display: flex;
  flex-direction: column;
}
body.meme-now .image-gallery {
  display: none;
}
footer {
  display: none;
}

body.meme-now footer {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: white;
  bottom: 0;
}

body.meme-now .search-bar-container {
  display: none;
}

.meme-input {
  height: 20px;
  margin-top: 6px;
}

.color-input {
  margin-top: 2px;
}

.box {
  border: solid 2px rgb(24, 23, 23);
  padding: 6px;
  box-shadow: 7px 5px grey;
}

.sticker-emojo-box {
  border: solid 2px rgb(24, 23, 23);
  box-shadow: 4px 2px grey;
}

.user-input {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-inline-start: 100px;
  justify-content: center;
}

.image-gallery > * {
  width: 100%;
  object-fit: cover;
}

.image-gallery > *:hover {
  cursor: pointer;
}
/* .share-container>*{
    display: flex;
    justify-content: center;
} */
.third-input-btns-container {
  position: relative;
  width: 80%;
  margin-inline-start: 10%;
}
.back {
  margin-top: 5px;
  width: 30px;
}

.back:hover{
    background-color: #f8bf7e;
    cursor: pointer;
}

.api {
  margin-top: 5px;
}

.api:hover{
    background-color: #f8bf7e;
    cursor: pointer;
}

.download-btn {
  position: absolute;
  bottom: 17px;
  left: 102px;
}

/* stickers and emojis */
.emojis > *:hover {
  cursor: pointer;
}
.emojis {
  height: 50px;
  padding: 0;
}

.stickers-container > img {
  height: 40px;
  width: 40px;
}
.stickers-container > img:hover {
  cursor: pointer;
}
/* showing a gallery for the saved memes */
.saved-memes-container {
  display: none;
}

body.saved-memes-only .saved-memes-container {
  display: grid;
}
.saved-memes-container > * {
  width: 100%;
  object-fit: cover;
}

.saved-memes-container > *:hover {
  cursor: pointer;
}

body.saved-memes-only .image-gallery {
  display: none;
}
body.menu-open .search-words {
  display: none;
}

.upload-label:hover{
color: #ff9826;
cursor: pointer;
}

.color-input:hover{
    cursor: pointer;
}

/* nav bar hamburger */
@media (max-width: 600px) {
  body.menu-open .clse-menu {
    display: flex;
    padding: 0;
    padding-top: 17px;
    padding-right: 17px;
    background-color: transparent;
    border: none;
    color: white;
    justify-content: flex-end;
  }

  body.menu-open hr {
    display: block;
    width: 21px;
  }

  body.menu-open .main-nav > li {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 28.13px;
    margin: 70px 0;
    width: 100%;
  }

  body.menu-open .main-nav > li:nth-child(2) {
    margin: 197px 0 69px 0;
  }
  body.menu-open .main-nav > li:nth-child(3) {
    margin: 69px 0 70px 0;
  }
  body.menu-open .main-nav {
    margin: 0;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    background-color: #ff9826;
    width: 100%;
    transition: transform 0.9s;
  }
}

/* resposivness */
@media (min-width: 375px) {
  .image-gallery {
    margin-left: 10px;
    margin-right: 10px;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }

  body.saved-memes-only .saved-memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
}

@media (min-width: 600px) {
  .main-nav {
    display: flex;
  }
  hr {
    display: none;
  }
  .btn-menu {
    display: none;
  }
  .clse-menu {
    display: none;
  }
  .main-nav > li {
    font-weight: 500;
    size: 1rem;
    line-height: 1.171rem;
  }
  ul > *:not(:last-child) {
    margin-inline-end: 50px;
  }
  /* dont know why, but last child didnt work... maybe come bck l8r */
  .last {
    margin-inline-end: 20px;
  }
  .main-nav > li:hover {
    color: orange;
    cursor: pointer;
  }

  .search-bar-container {
    margin: 30px 20px 20px 29px;
  }

  .image-gallery {
    margin-left: 30px;
    margin-right: 25px;
  }
  .gallery-grid {
    display: grid;
    margin-left: 30px;
    margin-right: 25px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
  }

  body.saved-memes-only .saved-memes-container {
    display: grid;
    margin-left: 30px;
    margin-right: 25px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
  }
  body.meme-now .main-canvas {
    flex-direction: row;
  }
}
